<div class="container">
  <div class="time-block">

    <table class="table">
      <tr>
        <td class="time">{{days}}</td>
        <td>days</td>
      </tr>
      <tr>
        <td class="time">{{hours}}</td>
        <td>hours</td>
      </tr>
      <tr>
        <td class="time">{{minutes}}</td>
        <td>minutes</td>
      </tr>
      <tr>
        <td class="time">{{seconds}}</td>
        <td>seconds</td>
      </tr>
    </table>

    left ...

    <p>change</p>
    <p>To test the test-branch</p>
  </div>
</div>
